$primary: #1e266d;
$primary2: #5732c6;
$primary3: #441fb1;
$primary4: #4727eb;
$primary5: #7633ff;
$primary6: #392396;
$secondary: #00ffff;
$secondary2: #6ccdd5;
$white1: #ffffff;
$body: rgb(255, 255, 255);
$border1: #ced1de;
$border2: #eaeeff;
$border3: #b2b9d3;
$bg1: #faf9fc;
$bg2: #fbfbff;
$bodyfont: var(--roboto);
$altfont: var(--manrope);
